<h1 class='text-center'><%= t('.sign_up') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="forms">
  <div class="form-group">
    <%= f.label :name,'ユーザーネーム' %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class: 'form-control',required: true,maxlength:"15" %>
    <small class="form-text">(15文字以内)</small>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control',required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' ,required: true %>
    <% if @minimum_password_length %>
    <small class="form-text"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation,"パスワード確認" %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :image,"プロフィール画像" %><br />
    <%= f.file_field :image %>
  </div>
</div>

<div class="form-group">
  <div class='button-group'>
    <%= f.submit t('.sign_up'), class: 'btn btn-block mt-5' %>
  </div>
</div>
<% end %>

<div class='button-group'>
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post,class: 'btn btn-block mt-4' %>
  <hr class="my-3">
  <%= link_to "トップページへ", root_path, class:"btn btn-block" %>
</div>
</div>