<%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div id="wrapper" class='big-bg'>
    <div class="post-content ">
      <h2 class='page-title'>everyone&apos;s aroma</h2>
      <p>癒やしの時間をシェアしませんか?</p>
    </div>
  </div>

  <div class="content-entry">
    <p>Posts list</p>
  </div>

  <div class="user_info mx-auto">
    <% if @user.image? %>
        <img src=<%= @user.image %> class = "icon_image_side">
    <% else %>
        <%= image_tag 'profile_default2.jpg' ,class: "icon_image_side" %>
    <% end %>
    
    <div class="user_name">
        <p><%= @user.name %></p>
    </div>
  </div>



<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">投稿した記事</label>

  <input id="like" type="radio" name="tab_item">
  <label class="tab_item" for="like">いいねした記事</label>

    <div class="tab_content" id="all_content">
      <%= render 'posts/posts' , posts: @posts %>
    </div>

    <div class="tab_content" id="like_content">
      <%= render 'posts/posts' , posts: @like_posts %>
    </div>
   
  
    <hr class="my-3">
    <div class=button-group>
      <%= link_to "投稿一覧へ", posts_path, class:"btn btn-outline-primary btn-block" %>
      <%= link_to "トップページへ", root_path, class:"btn btn-outline-primary btn-block" %>
    </div> 

    
    