<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="box">
  <div class="bgImg src1"></div>
  <div class="bgImg src2"></div>
  <div class="bgImg src3"></div>
  <div class="bgImg src4"></div>
  <div class="boxString">
    <p>「アロマの癒しをストレスフルな日常に」</p>
    <% if user_signed_in? %>
    <p>植物の香りは私たちの心と身体にやさしく働きかけます。<br>アロマテラピーを知ることは、自分の心や身体と向き合うこと。正しい知識を得て<br>アロマテラピーを生活に取り入れてみませんか。</p>
    <a href="#deck"><span></span></a>
    <% else %>
    <p>新規登録・ログインはこちらから</p>
    <div class="link-group">
    <%= link_to "sign up", new_user_registration_path, class:"btn-home" %>
    <%= link_to "login", new_user_session_path, class:"btn-home" %>
    </div>
    <% end %>
  </div>
</div>
    

<div class="container text-center" id="works">
<div class="card my-3">
  <h3 class="card-header bg-dark text-white">What's Aroma life？</h3>
  <div class="card-body">
    <h4 class="card-explain">Aroma lifeはアロマがもっと好きになるポータルサイトです！</h4>
    <p class="card-text">サウナってこんな楽しみ方もあるよ。こういうところに着目すると面白いよ。こんな施設があったよ。など、いろんな人のサウナ好き！な気持ちが集まって、皆のサウナライフがちょっぴり豊かに広がるようなサイトを目指しています。サウナの楽しみ方がたくさんの人に広がれば、友人・家族など、大切な人と一緒に過ごせるようなサウナがもっと生まれるかもしれない。自分だけのサウナが楽しめるような場所も増えるかもしれない。サウナとの関わり方の選択肢をもっと広げるような活動をしていきたいと考えています。</p>
  </div>
</div>

<div class="contents-entry"><p>main contents</p></div>

<div class="deck-entry">
  <div id="deck" class="card-deck">
      <div class="card card-container bg-dark">
      <%= link_to diagnoses_path, class:"text-decoration-none" do %>
      <%= image_tag "finder-icon" ,class:"card-img-top" %>
        <div class="card-body text-white">
          <h5 class="card-title">Aroma Finder</h5>
          <p class="card-text">質問に答えてあなたにピッタリのアロマを見つけましょう</p>
        </div>
      <% end %>
      </div>

      <div class="card card-container bg-dark">
      <%= link_to posts_path, class:"text-decoration-none" do %>
        <%= image_tag "sns-icon" ,class:"card-img-top" %>
        <div class="card-body text-white">
          <h5 class="card-title">everyone&apos;s aroma</h5>
          <p class="card-text">あなたの癒しの時間をシェアしましょう</p>
        </div>
        <% end %>
      </div>

      <div class="card card-container bg-dark">
      <%= link_to tips_path, class:"text-decoration-none" do %>
      <%= image_tag "tips-icon" ,class:"card-img-top" %>
        <div class="card-body text-white">
          <h5 class="card-title">Tips</h5>
          <p class="card-text">生活に役立つアロマの豆知識を発信します</p>
        </div>
        <% end %>
      </div>
  </div>
