<div class="modal-area">
    <button type="button" class="fixed_btn" data-toggle="modal" data-target="#exampleModal">
      <i class="far fa-comment-dots fa-2x"></i>  投稿する
    </button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="exampleModalLabel">新規投稿</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

            
        
        <%= form_for @post, remote: true do |f| %>    
          <div class="modal-body font-weight-bold">
            <div class="form-group">
              <%= f.label :title, "タイトル(30字以内)" %>
              <%= f.text_field :title, class:"form-control",required: true ,maxlength:"30" %>
            </div>
            
            <div class="form-group">
              <%= f.label :title, "香りのタイプ" %>
              <div class="d-flex">
                <%= f.select :aroma, [["フローラル", "フローラル"], ["ハーバル", "ハーバル"], ["ウッディ", "ウッディ"],["シトラス", "シトラス"],["和の香り", "和の香り"],["スパイシー", "スパイシー"],["エキゾチック", "エキゾチック"],["その他", "その他"]],{ :include_blank => "選択(必須)▼" },:required => true, :id =>"aromaselector" %>
                
                <div class="result ml-2 font-weight-bold">
                  <div id="フローラル" class="aromas フローラル">甘く華やかな香りが特徴の癒やし系です</div>
                  <div id="ハーバル" class="aromas ハーバル"> 少し薬草の香りがするスッキリ系です</div>
                  <div id="ウッディ" class="aromas ウッディ"> 森にも似た落ち着く香りの安定系です</div>
                  <div id="シトラス" class="aromas シトラス"> 爽やかな香りが弾ける元気系です</div>
                  <div id="和の香り" class="aromas 和の香り"> どこか懐かしい香りのするほっこり系です</div>
                  <div id="スパイシー" class="aromas スパイシー"> インパクト強めで刺激的な個性系です</div>
                  <div id="エキゾチック" class="aromas エキゾチック"> オリエンタルで個性的な官能系です</div>
                </div>
                
              </div>
            </div>

            <div class="form-group">
              <%= f.label :content, "本文" %>
              <%= f.text_area :content, class:"form-control form-content",required: true %>
            </div>

            <div class="form-group">
              <%= f.label :image,"画像"%><br>
              <%= f.file_field :image, accept: "image/png,image/jpeg,image/gif" %>
            </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <%= f.submit "投稿する", class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script>
    $(function() {
    $('.aromas').hide();
    $('#aromaselector').change(function(){
      $('.aromas').hide();
      $('#' + $(this).val()).show();
      });
    });
  </script>