<% posts.each do |post| %>
  <div class="card mb-1">
    <div class="card-body">
      <div class="row">
        <div class="icon_space col-2">
            <%= link_to post do %>
              <% if post.user.image? %>
                <img src=<%= post.user.image %> class = "icon_image">
              <% else %>
                <%= image_tag 'profile_default2.jpg' ,class: "icon_image" %>
            <% end %>
        </div>
        <div class='col-10'>
            <p class='card-text'><%= post.title %></p>
            <p>【<%= post.aroma %>】</p>
            <p><%= post.content %></p>
            <% if post.image? %>
                <%= image_tag post.image.thumb.url ,class: 'thumb-image'%>
              <% else %>
                <%= image_tag 'noimage.png',class: 'noimage' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>