<% posts.each do |post| %>
  <div class="card mb-1">
    <div class="card-body">
        <% if post.user.image? %>
          <img src=<%= post.user.image %> class = "icon_image">
        <% else %>
          <%= image_tag 'profile_default2.jpg' ,class: "icon_image" %>
        <% end %>

        <p class="card-text"><%= post.title %></p>
        <p>【<%= post.aroma %>】</p>
        <p class="card-text"><small><%= simple_format post.content %></small></p>
        <% if post.image? %>
            <%= image_tag post.image.thumb.url %>
          <% else %>
            <%= image_tag 'http://design-ec.com/d/e_others_48/l_e_others_484.png'%>
        <% end %>
        
        <div id="likes_buttons<%= post.id %>">
          <%= render partial: 'likes/like', locals: { post: post, like: @like} %>
        </div>
    </div>
  </div>
<% end %>