<%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
<div id="wrapper" class='big-bg'>
  <div class="post-content ">
    <h2 class='page-title'>everyone&apos;s aroma</h2>
    <p>癒やしの時間をシェアしませんか？</p>
  </div>
</div>

<div class="content-entry">
  <p>Posts list</p>
</div>

<div class="container mt-4">

  <div class='main-contents'>
    <div class="posts">
      <%= render 'posts', posts: @posts %>
    </div>
    <aside>
      <%= render 'side-bar' %>
    </aside>
  </div>

  <%= render 'modal' %>

  <hr class="my-3">

  <div class=button-group>
    <%= link_to "トップページへ", root_path, class:"btn btn-outline-primary btn-block" %>
  </div>