<%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <div id="wrapper" class='big-bg'>
        <div class="post-content ">
            <h2 class='page-title'>everyone&apos;s aroma</h2>
            <p>癒やしの時間をシェアしませんか?</p>
        </div>
    </div>

<div class="post_info">
    <div class="user_info">
        <a href="/users/show/<%= @post.user.id %>">
            <% if @post.user.image? %>
                <img src=<%= @post.user.image %> class = "icon_image_side">
            <% else %>
                <%= image_tag 'profile_default2.jpg' ,class: "icon_image_side" %>
            <% end %>
            <div class="user_name">
                <p><%= @user.name %></p>
            </div>
        </a>
    </div>

    <div class='post_entry'>
        <h2 class="post_title"><%= @post.title %></h2>
        <p class='<%= translation_class_name(@post.aroma) %> badge badge-pill'><%= @post.aroma %></p>
    </div>

</div>

    <div class="post-article">
        <p><%= @post.content %></p>
    </div>

    <div class="post_img_full mt-5">
        <% if @post.image? then %>
            <%= image_tag @post.image.url ,class: 'full_image'%>
        <% end %>
    </div>

    <div class='like_to_post'>
        <p class="like_lead">この投稿が気に入ったらいいねをしてみよう！</p>
        <div id="likes_buttons<%= @post.id %>">
            <%= render partial: 'likes/like', locals: { post: @post, like: @like} %>
        </div>
    </div>

    <div class="comment-create my-5">
        <h3 class="text-center">コメントをする</h3>
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
    </div>

    <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>  

<hr class="my-3">

    <div class=button-group>
        <%= link_to "投稿一覧へ", posts_path, class:"btn btn-outline-primary btn-block" %>
        <%= link_to "トップページへ", root_path, class:"btn btn-outline-primary btn-block" %>
    </div>