<%= stylesheet_link_tag 'tips', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='big-bg'>
  <h2 class='page-title'>aroma tips</h2>
  <p>生活に役立つアロマの豆知識を発信します</p>
</div>

<div class="content-entry">
  <h2>Tips</h2>
</div>

<div class="row tips-group">
  <% @tips.each do |tip| %>
  <div class="col-12 col-md-6 col-lg-4 text-card-container">
    <%= link_to tip, class: "card content-card border-dark text-decoration-none", rel: "noopener noreferrer" do %>
    <div class="card-header p-0">
      <%= image_tag tip.image.url, class: "card-img-top" %>
    </div>
    <div class="card-body text-dark text-card-body">
      <p class="card-text text-title mt-4"><%= tip.title %></p>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<div class='content-footer'>
  <p>新しいコンテンツも追加予定です！</p>
</div>

<hr class="my-3">
<div class='button-group'>
  <%= link_to "トップページへ", root_path, class:"btn btn-block" %>
</div>